<!DOCTYPE html>
<html>
<head>
<style>
div {
  background-color: lightgrey;
  width: 300px;

  padding: 50px;
  margin: 20px;
}
</style>
</head>
<body>
<h1>About Us</h1>
<br>    
    <img src='Capture.JPG' class="center">
    
    <br>
    <br>
    
    Omniwyse helps Companies become innovative leaders by delivering software teams on demand. We help you – choose the right technologies to invest in, decide on the best architecture and processes to follow, and oversee the successful delivery of the software products. We focus on building a strong relationship of trust, with a focus on communication and consistency, providing a long-term solution that enables business growth.
    
<div id="leftbox">
    <img src='Capture 1.JPG'>
    
    
    
    <br>
    We are a tech company with a mission to help companies extend their tech capacity and transform their businesses digitally by providing expert software engineering and consulting services.</div>
<div id="middlebox">
    <img src='Capture 2.JPG'>
    <br>
    
    We Omniwyse started in the year 2002 with 120 Employees on board and We are located in San Francisco,Chicago and India.</div>
<div id="rightbox">
    <img src='Capture 3.JPG'>
    <br>
    We took up the Corporate Social responsibility while employing people coming from a poor background while giving them the required training and uplifting their lives socially and financially.</div>

</body>
</html>

